* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on, "zero" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

*::selection {
  transition: background-color 300ms;
  background-color: #c0c0c030;
}

body {
  margin: 0;
  text-align: center;
  background-color: #1b1b1b;
}

a {
  text-decoration: none;
  color: inherit;
}

.modal {
  opacity: 0;
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
  height: auto;
  width: 500px;
  padding: 1rem 2rem;
  border: 1px solid #70707039;
  border-radius: 1rem;
  background-color: #222;
  box-shadow: 0 20px 60px 0 #44444430;
  scale: 0.92;
  transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out,
    scale 200ms ease-in-out;
}

.modal.loading {
  animation: blink 1s ease-in infinite;
}

.modal.visible {
  scale: 1;
  opacity: 1;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 95vw;
  }
}

.modal > * {
  margin: 1rem 0;
}

.modal input {
  width: 100%;
}

#app {
  cursor: default;
  position: relative;
  margin-top: 60px;
  margin: 0;
  padding: 0;
}

#app .hero {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#app .hero h1 {
  font-size: 24px;
  font-weight: 600;
}

#app .hero p,
#app .hero span {
  color: rgb(175, 175, 175);
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid rgb(55, 55, 55);
  padding: 0.2rem 0.5rem;
  margin-top: 10px;
}

#app .hero span {
  color: #fff;
  transition: scale cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#app .hero span:hover {
  scale: 2;
}

header {
  position: sticky;
  top: 50px;
  z-index: 100;
}

nav {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  z-index: 2;
  max-width: 100%;
}

nav > * {
  margin: 0 0.2rem;
}

nav input {
  background-color: transparent;
  border-color: #70707039;
}

nav input:focus {
  background-color: rgb(37, 37, 37);
}

@media screen and (max-width: 600px) {
  button {
    font-size: 0.9rem;
  }

  nav > * {
    margin: 0.2rem;
  }

  nav > input {
    padding-right: 0;
  }
}

input {
  height: 36px;
  border-radius: 8px;
  background: rgb(55, 55, 55);
  color: rgba(255, 255, 255, 1);
  padding: 0;
  padding-left: 0.8rem;
  padding-right: 1.5rem;
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
  transition: border 100ms, background-color 150ms;
}

input:focus {
  background-color: transparent;
  border-color: #70707039;
}

textarea {
  min-height: 100px;
  width: 100%;
  border-radius: 8px;
  background: rgb(55, 55, 55);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 0.8rem;
  font-size: 16px;
  outline: none;
  resize: none;
  border: 1px solid transparent;
  scroll-padding-bottom: 1rem;
  transition: border 100ms, background-color 150ms;
}

textarea:focus {
  background-color: transparent;
  border-color: #70707039;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 36px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  color: rgb(55, 55, 55);
  border: none;
  padding: 0 1rem;
  font-size: 16px;
  outline: none;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  transition: background ease-in-out 200ms, scale ease-in-out 200ms;
}

button:hover {
  background: rgb(217, 217, 217);
}

button:active {
  scale: 0.95;
}

button.secondary {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid #70707039;
}

button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.grid-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
  align-content: center;
  justify-items: center;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }

  ul li {
    width: 100%;
    margin: 0;
  }
}

ul li {
  width: 100%;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  align-items: flex-start;
  text-align: left;
  margin: 1.5rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
  transition: ease-in-out 200ms;
}

ul li:hover {
  border-color: #70707039;
  scale: 0.98;
}

ul li:active {
  scale: 0.93;
}

ul li h3 {
  margin-bottom: 12px;
  font-weight: 600;
}

ul li span {
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid rgb(55, 55, 55);
  padding: 0.2rem 0.5rem;
}

#book-info-modal {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  text-align: left;
}

#book-info-modal > * {
  margin: 0;
}

#book-info-modal-title {
  font-size: 24px;
  font-weight: 600;
}

#book-info-modal-description {
  color: rgb(175, 175, 175);
}

#book-info-modal-author {
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid rgb(55, 55, 55);
  padding: 0.2rem 0.5rem;
  margin-top: 10px;
}
